@model IEnumerable<LuxuryLife.Models.Homestay>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/ProviderUser/Views/Shared/_Providers.cshtml";
}

<h1>Danh sách các homestay của tôi</h1>

<p>
    <button class="btn btn-warning btn-sm ajax-action" data-url="@Url.Action("Create")">Thêm mới</button>
</p>
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PricePerNight)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            <img src="@item.Image" alt="@item.Name" width="100px" height="100px" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PricePerNight)
                        </td>
                        <td>
                            <button class="btn btn-warning btn-sm ajax-action" data-url="@Url.Action("Edit", new { id = item.HomestayId })">Sửa</button>
                            <button class="btn btn-info btn-sm ajax-action" data-url="@Url.Action("Details", new { id = item.HomestayId })">Chi tiết</button>
                            <button class="btn btn-danger btn-sm ajax-action" data-url="@Url.Action("Delete", new { id = item.HomestayId })">Xóa</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="actionHomestay">

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".ajax-action").click(function (e) {
            e.preventDefault();

            // Get the URL from the data attribute
            var url = $(this).data("url");

            // Load the content into the .click div
            $(".actionHomestay").load(url, function (response, status, xhr) {
                if (status == "error") {
                    alert("Error: " + xhr.status + " " + xhr.statusText);
                }
            });
        });
    });
</script>