@model LuxuryLife.Models.News

@{
    ViewData["Title"] = "Chi Tiết Tin Tức";
}

<h1>Chi Tiết</h1>

<div>
    <h4>Thông Tin Tin Tức</h4>
    <hr />
    <dl class="row">
        <!-- Tiêu Đề -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <!-- Nội Dung -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>

        <!-- Ngày Xuất Bản -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>

        <!-- Ngày Tạo -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <!-- Tác Giả -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.AdminId)
        </dd>

        <!-- Homestay -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Homestay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Homestay.HomestayId)
        </dd>

        <!-- Nhà Cung Cấp -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.ProviderId)
        </dd>

        <!-- Tour -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tour.TourId)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.NewsId" class="btn btn-warning">Chỉnh Sửa</a> |
    <a asp-action="Index" class="btn btn-secondary">Quay Lại Danh Sách</a>
</div>
