@model LuxuryLife.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/CustomerUser/Views/Shared/_Customer.cshtml";
}

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">
                Thông tin khách hàng
            </h4>
        </div>
        <div class="card-body m-auto">
            <dl class="row">
                <dt class="col-sm-5 font-weight-bold">Tên</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-5 font-weight-bold">Email</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.Email)</dd>

                <dt class="col-sm-5 font-weight-bold">Mật khẩu</dt>
                <dd class="col-sm-7 text-muted">@Html.DisplayFor(model => model.Password)</dd>

                <dt class="col-sm-5 font-weight-bold">Số điện thoại</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.Phone)</dd>

                <dt class="col-sm-5 font-weight-bold">Ảnh đại diện</dt>
                <dd class="col-sm-7">
                    <img src="@Model.Avatar" alt="Ảnh đại diện" class="img-thumbnail" style="max-width: 150px;">
                </dd>

                <dt class="col-sm-5 font-weight-bold">Địa chỉ</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.Address)</dd>

                <dt class="col-sm-5 font-weight-bold">Ngày sinh</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.Dob)</dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a asp-action="Edit" asp-route-id="@Model?.CustomerId" class="btn btn-warning">
                <i class="bi bi-pencil"></i> Chỉnh sửa
            </a>
            <a href="#" onclick="window.history.back();">Trở lại</a>
        </div>
    </div>
</div>
<a asp-controller="Bookings" asp-action="Index" asp-route-customerId="@Context.Session.GetInt32("CustomerId")" class="btn btn-primary">
    <i class="bi bi-pencil"></i> danh sách tour đã đặt
</a>
