@model LuxuryLife.Models.Tour

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tour</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên tour
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Hình ảnh
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            Mô tả
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Dịch vụ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceId)
        </dd>
        <dt class="col-sm-2">
            Homestay
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomestayId)
        </dd>
        <dt class="col-sm-2">
            Giá per người
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PricePerson)
        </dd>
        <dt class="col-sm-2">
            Ngày bắt đầu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            Ngày kết thúc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            Giá
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Trạng thái
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            Ngày tạo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Createdate)
        </dd>
        <dt class="col-sm-2">
            Nhà cung cấp
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.ProviderId) <!-- Assuming Provider has a ProviderId -->
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TourId">Sửa</a> 
    <a asp-action="Index">Quay lại danh sách</a>
</div>
