@model LuxuryLife.Models.Listimagestour

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết ảnh</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-8">
            <img src="@Model.ImageUrl" alt="@Model.ImageUrl" width="100%" height="300px" />
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ImageDescription)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ImageDescription)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Tour)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Tour.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Đóng</a>
</div>
