@model LuxuryLife.Models.Service

@{
    ViewData["Title"] = "Xóa Dịch Vụ";
}

<h1 class="mt-3">Xóa Dịch Vụ</h1>

<h3>Bạn có chắc chắn muốn xóa dịch vụ này không?</h3>

<div>
    <h4>Dịch Vụ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên Dịch Vụ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class="col-sm-2">
            Mô Tả
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Giá
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Ngày Tạo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            Homestay
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Homestay.HomestayId)
        </dd>
        <dt class="col-sm-2">
            Tour
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tour.TourId)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="ServiceId" />
        <button type="submit" class="btn btn-danger">Xóa</button> |
        <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
    </form>
</div>
