@model IEnumerable<LuxuryLife.Models.Service>

@{
    ViewData["Title"] = "Danh sách dịch vụ";
}

<h1 class="mt-3">Danh sách Dịch Vụ</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo Mới</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Tên Dịch Vụ
            </th>
            <th>
                Mô Tả
            </th>
            <th>
                Giá
            </th>
            <th>
                Ngày Tạo
            </th>
            <th>
                Homestay
            </th>
            <th>
                Tour
            </th>
            <th>Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Homestay.HomestayId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tour.TourId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServiceId" class="btn btn-warning btn-sm">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.ServiceId" class="btn btn-info btn-sm">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.ServiceId" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xóa dịch vụ này?');">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
