@model LuxuryLife.Models.Review

@{
    ViewData["Title"] = "Chi Tiết Đánh Giá";
}

<h1>Chi Tiết Đánh Giá</h1>

<div>
    <h4>Thông Tin Đánh Giá</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Homestay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Homestay.HomestayId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tour.TourId)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReviewId" class="btn btn-warning">Chỉnh Sửa</a> |
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</div>
