@model IEnumerable<LuxuryLife.Models.Homestay>

@{
    ViewData["Title"] = "Danh sách Homestay";
}

<h1>Danh sách Homestay</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Tạo Mới</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Tên
            </th>
            <th>
                Mô Tả
            </th>
            <th>
                Vị trí
            </th>
            <th>
                Giá mỗi đêm
            </th>
            <th>
                Tình trạng
            </th>
            <th>
                Đánh giá
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Nhà cung cấp
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerNight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Availability)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provider.ProviderId)
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.HomestayId">Chỉnh Sửa</a> |
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.HomestayId">Chi Tiết</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.HomestayId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Bootstrap JS for interactive components like modals or dropdowns -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
