@model IEnumerable<LuxuryLife.Models.Review>

@{
    ViewData["Title"] = "Danh Sách Đánh Giá";
}

<h1>Danh Sách Đánh Giá</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo Đánh Giá Mới</a> <!-- Tạo Đánh Giá Mới -->
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Đánh Giá
            </th>
            <th>
                Bình Luận
            </th>
            <th>
                Ngày Đánh Giá
            </th>
            <th>
                Khách Hàng
            </th>
            <th>
                Chuyến Du Lịch
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Createdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tour.TourId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReviewId" class="btn btn-warning btn-sm">Sửa</a> <!-- Sửa -->
                    <a asp-action="Details" asp-route-id="@item.ReviewId" class="btn btn-info btn-sm">Chi Tiết</a> <!-- Chi Tiết -->
                    <a asp-action="Delete" asp-route-id="@item.ReviewId" class="btn btn-danger btn-sm">Xóa</a> <!-- Xóa -->
                </td>
            </tr>
        }
    </tbody>
</table>
