@model LuxuryLife.Models.Tour

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-KyZXEJ6H16sM3o9sYp7ck4qzQW+2LqpBLp+ScT6Y5I0eL0bFjfsDDp8G6pFZTq4T" crossorigin="anonymous">
</head>
<body>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Tour Details</h2>
        <hr />

        <dl class="row">
            <!-- Tour Name -->
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <!-- Tour Image -->
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-9">
                <img src="@Model.Image" alt="@Model.Name" class="img-fluid" />
            </dd>

            <!-- Tour Description -->
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>

            <!-- Tour Images List -->
            <dt class="col-sm-3">
                <strong>Tour Images</strong>
            </dt>
            <dd class="col-sm-9">
                @if (Model.Listimagestours != null && Model.Listimagestours.Any())
                {
                    <div class="row">
                        @foreach (var image in Model.Listimagestours)
                        {
                            <div class="col-sm-4 mb-3">
                                <img src="@image.ImageUrl" alt="@image.ImageDescription" class="img-fluid" />
                                <p>@image.ImageDescription</p>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <p>There are no images for this tour.</p>
                }
            </dd>

            <!-- Service ID -->
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ServiceId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ServiceId)
            </dd>

            <!-- Price -->
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-9">
                @string.Format("{0:C}", Model.Price)
            </dd>

            <!-- Tour Services -->
            <dt class="col-sm-3">
                <strong>Tour Services</strong>
            </dt>
            <dd class="col-sm-9">
                @if (Model.Services != null && Model.Services.Any())
                {
                    <ul>
                        @foreach (var service in Model.Services)
                        {
                            <li>
                                <strong>@service.ServiceName</strong><br />
                                @service.Description<br />
                                <span>@string.Format("{0:C}", service.Price)</span>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>No services available for this tour.</p>
                }
            </dd>

            <!-- Homestays -->
            <dt class="col-sm-3">
                <strong>Homestays for this Tour</strong>
            </dt>
            <dd class="col-sm-9">
                @if (Model.Homestays != null && Model.Homestays.Any())
                {
                    <ul>
                        @foreach (var homestay in Model.Homestays)
                        {
                            <li>
                                <strong>@homestay.Name</strong><br />
                                @homestay.Description<br />
                                <span>@string.Format("{0:C}", homestay.PricePerNight)</span>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>No homestays available for this tour.</p>
                }
            </dd>

            <!-- Reviews -->
            <dt class="col-sm-3">
                <strong>Customer Reviews</strong>
            </dt>
            <dd class="col-sm-9">
                @if (Model.Reviews != null && Model.Reviews.Any())
                {
                    <ul>
                        @foreach (var review in Model.Reviews)
                        {
                            <li>
                                <strong>@review.Customer.Name</strong><br />
                                <p>@review.Comment</p>
                                <p><em>Reviewed on: @review.Createdate</em></p>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>No reviews for this tour yet.</p>
                }
            </dd>
        </dl>

        <div class="d-flex justify-content-between">
            <a class="btn btn-secondary" asp-action="Index">Back to List</a>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0ExfymJeIhnVLMaErV0mTRB83kC0U8rCce7Xlx8roF4/tF9w" crossorigin="anonymous"></script>
</body>
</html>
