@model IEnumerable<LuxuryLife.Models.Tour>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var tours = ViewData["Tours"] as List<LuxuryLife.Models.Tour>;
    var providers = ViewData["Providers"] as List<LuxuryLife.Models.Provider>;
    var news = ViewData["News"] as List<LuxuryLife.Models.News>;
    var customers = ViewData["Customers"] as List<LuxuryLife.Models.Customer>;
    var reviews = ViewData["Reviews"] as List<LuxuryLife.Models.Review>;
}
<link rel="stylesheet" href="~/css/Tour.css">
<style>
    .welcome-hero{
        height:400px;
    }

    .welcome-hero-txt {
        padding-top: 50px;
    }

    .explore {
        padding: 10px 0 95px;
        background: #f8fafb;
    }
    .section-header h2{
        font-size:50px;
        color: #ff545a;
    }
</style>
<section id="home" class="welcome-hero">
    <div class="container">
        <div class="welcome-hero-txt">
            <h2>Dịch vụ du lịch tốt nhất <br> cho tất cả những gì bạn cần </h2>
            <p>
                Tìm kiếm những Tour du lịch, Homestays và các dịch vụ mọi thứ với chỉ một CLICK
            </p>
        </div>
        <form asp-action="Index" asp-controller="Tours" method="get">
            <div class="welcome-hero-serch-box">
                <div class="welcome-hero-form">
                    <div class="single-welcome-hero-form">
                        <h3>What?</h3>
                        <input type="text" name="query" placeholder="Ex: place, restaurant, food" />
                        <div class="welcome-hero-form-icon">
                            <i class="flaticon-list-with-dots"></i>
                        </div>
                    </div>
                    <div class="single-welcome-hero-form">
                        <h3>Location</h3>
                        <input type="text" name="description" placeholder="Ex: Hà Nội, Đà Nẵng, Đà Lạt" />
                        <div class="welcome-hero-form-icon">
                            <i class="flaticon-gps-fixed-indicator"></i>
                        </div>
                    </div>
                </div>
                <div class="welcome-hero-serch">
                    <button type="submit" class="welcome-hero-btn">
                        Tìm kiếm <i data-feather="search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

</section><!--/.welcome-hero-->
<section id="explore" class="explore">
    <div class="container">
        <div class="section-header">
            <section id="tour-section" class="tour-section">
                <div class="container">
                    <div class="tour-header">
                        <h2>Tour du lịch</h2>
                        <span class="plane-icon"><i class="fas fa-plane"></i></span>
                        <div class="travel-icons">
                            <i class="fas fa-suitcase"></i>
                            <i class="fas fa-camera"></i>
                            <i class="fas fa-map-marked-alt"></i>
                            <i class="fas fa-utensils"></i>
                        </div>
                        <p>Khám phá tour du lịch, địa điểm mới, đồ ăn, văn hoá và nhiều hơn nữa</p>
                    </div>
                </div>
            </section>
        </div><!--/.section-header-->
        <div class="explore-content">
            <div class="row">
                @foreach (var tour in tours)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img" style="height:200px!important;">
                                <img src="@tour.Image" alt="@tour.Image">
                                <div class="single-explore-img-info">
                                    <button onclick="window.location.href='#'">featured</button>
                                    <div class="single-explore-image-icon-box">
                                        <ul>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-explore-txt bg-theme-2">
                                <h2><a href="#">@tour.Name</a></h2>
                                <p class="explore-rating-price">
                                    <span class="explore-rating">4.5</span>
                                    <a href="#"> @tour.Reviews.Count</a>
                                    <span class="explore-price-box">
                                        Giá:
                                        <span class="explore-price">@tour.Price</span>
                                    </span>
                                    <a href="#">@tour.Provider.Name</a>
                                </p>
                                <div class="explore-person">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="explore-person-img">
                                                <a href="#">
                                                    <img src="@tour.Provider.Avatar" alt="explore person" style="width:40px; height:40px; border-radius:50%;">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <p>
                                                @tour.Description
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="explore-open-close-part">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <a class="close-btn open-btn" asp-action="Details" asp-route-id="@tour?.TourId">Xem chi tiết</a>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="explore-map-icon">
                                                <a href="#" style="margin-right:10px;"><i class="fa-solid fa-map-location-dot"></i></a>

                                                <a asp-area="CustomerUser" asp-controller="Favourites" asp-action="Add" asp-route-customerId="@Context.Session.GetInt32("CustomerId")" asp-route-id="@tour.TourId"><i class="fa-regular fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div> 

</section> 