@model LuxuryLife.Models.Homestay

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết Homestay</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-8">
            <img src="@Model.Image" alt="@Model.Name" width="300px" height="300px"/>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PricePerNight)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PricePerNight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Đóng</a>
</div>
