@model IEnumerable<LuxuryLife.Models.Homestay>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1 class="text-center mb-4 display-4">Danh sách các Homestay</h1>

<table class="table table-bordered table-hover table-striped text-center align-middle">
    <thead class="thead-dark">
        <tr>
            <th>Tên Homestay</th>
            <th>Mô tả</th>
            <th>Địa chỉ</th>
            <th>Hình ảnh</th>
            <th>Giá mỗi đêm</th>
            <th>Nhà cung cấp</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="font-weight-bold">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <p class="text-truncate" style="max-width: 200px;">@Html.DisplayFor(modelItem => item.Description)</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Image)" alt="Homestay Image" class="img-thumbnail" style="max-width: 100px;" />
                </td>
                <td class="text-success font-weight-bold">
                    @Html.DisplayFor(modelItem => item.PricePerNight) VND
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderId)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.HomestayId" class="btn btn-info btn-sm">
                        <i class="fas fa-info-circle"></i> Chi tiết
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.HomestayId" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xóa homestay này?');">
                        <i class="fas fa-trash-alt"></i> Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
