@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LuxuryLife</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LuxuryLife.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-top">
                <div class="header-language dropdow">
                    <div class="header-language-select">
                        <span style="color:black;">Tiếng Việt <i class="fa-solid fa-chevron-down"></i></span>
                    </div>
                    <ul class="header-language-list dropdow-list" style="background:none;">
                        <li class="header-language-item dropdow-item">
                            <img src="./images/vn-logo.webp"
                                 alt=""
                                 class="header-nation" />
                            <a href="#" class="dropdow-link" style="color:black;">Tiếng Việt</a>
                        </li>
                        <li class="header-language-item dropdow-item">
                            <img src="./images/usa-logo.webp"
                                 alt=""
                                 class="header-nation" />
                            <a href="#" class="dropdow-link" style="color:black;">English</a>
                        </li>
                    </ul>
                </div>

                <div class="header-auth">
                    <a href="#" class="header-auth-text sign-up-offer" style="color:black;">
                        ĐĂNG KÝ VÀ NHẬN 100.000 VNĐ
                    </a>

                    <a href="#" class="header-auth-text store-system" style="color:black;">
                        Hệ Thống văn phòng Toàn Quốc
                        <i class="fa-solid fa-location-dot"></i>
                    </a>
                </div>
            </div>

            <div class="header-content">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img srcset="./images/logo.png 2x" alt="" class="header-logo" /></a>

                <div class="header-feature">
                    <div class="header-search">
                        <form action="#" class="header-search-form" style="background:none;">
                            <input type="text"
                                   class="header-search-input"
                                   placeholder="Bạn đang tìm gì ..." style="background:none;" />
                            <button class="header-search-submit button button-green" style="background:none;">
                                <i class="fa-sharp fa-solid fa-magnifying-glass header-search-icon"></i>
                                Tìm kiếm
                            </button>
                        </form>
                    </div>

                    <div class="header-cart" style="background:none;">
                        <a asp-area="CustomerUser" asp-controller="Favourites" asp-action="Index" asp-route-customerId="@Context.Session.GetInt32("CustomerId") class="header-cart-submit" style="color:black;">
                            <i class="fa-solid fa-cart-shopping header-cart-icon"></i>
                            Danh sách yêu thích
                        </a>
                    </div>
                </div>
            </div>

            <div class="header-menu">
                <ul class="menu">
                    <li class="menu-item">
                        <a style="color:black;" class="menu-link" asp-area="CustomerUser" asp-controller="Dashboard" asp-action="Index" asp-route-customerId="@Context.Session.GetInt32("CustomerId")">Trang chủ</a>
                    </li>
                    <li class="menu-item">
                        <div class="dropdow-menu">
                            <a href="#" style="color:black;" class="menu-link">
                                Homestay <i class="fa-solid fa-chevron-down"></i>
                            </a>
                            <div class="dropdow-menu-list">
                                <div class="dropdow-menu-category">
                                    <div class="dropdow-menu-info">
                                        <h2 class="dropdow-menu-title">Giày Dép</h2>
                                        <a href="#" class="dropdow-menu-link">Xem tất cả</a>
                                    </div>
                                    <div class="dropdow-menu-item">
                                        <a href="#">Sản phẩm mới</a>
                                    </div>
                                    <div class="dropdow-menu-item">
                                        <a href="#">Giày thời trang</a>
                                    </div>
                                    <div class="dropdow-menu-item">
                                        <a href="#">Giày chạy bộ</a>
                                    </div>
                                    <div class="dropdow-menu-item">
                                        <a href="#">Giày luyện tập</a>
                                    </div>
                                </div>
                                <div class="dropdow-menu-images">
                                    <a href="#" class="dropdow-menu-image">
                                        <img src="./images/dropdow-menu-img-03.avif"
                                             alt=""
                                             class="dropdow-menu-img" />
                                    </a>
                                    <a href="#" class="dropdow-menu-image">
                                        <img src="./images/dropdow-menu-img-04.avif"
                                             alt=""
                                             class="dropdow-menu-img" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item">
                        <div class="dropdow-menu">
                            <a href="#" style="color:black;" class="menu-link">
                                Tour du lịch<i class="fa-solid fa-chevron-down"></i>
                            </a>
                            <div class="dropdow-menu-list">
                                <div class="dropdow-menu-category">
                                    <div class="dropdow-menu-info">
                                        <h2 class="dropdow-menu-title">A - Z</h2>
                                        <a href="#" class="dropdow-menu-link">Xem tất cả</a>
                                    </div>
                                    <div class="dropdow-menu-item">
                                        <a href="#">ADIDAS</a>
                                    </div>
                                    <div class="dropdow-menu-item">
                                        <a href="#">COLUMBIA</a>
                                    </div>
                                    <div class="dropdow-menu-item">
                                        <a href="#">CONVERSE</a>
                                    </div>
                                    <div class="dropdow-menu-item">
                                        <a href="#">FILA</a>
                                    </div>
                                    <div class="dropdow-menu-item">
                                        <a href="#">JORDAN</a>
                                    </div>
                                    <div class="dropdow-menu-item">
                                        <a href="#">HOKA</a>
                                    </div>
                                    <div class="dropdow-menu-item">
                                        <a href="#">NIKE</a>
                                    </div>
                                    <div class="dropdow-menu-item">
                                        <a href="#">NEW BALANCE</a>
                                    </div>
                                    <div class="dropdow-menu-item">
                                        <a href="#">PUMA</a>
                                    </div>
                                    <div class="dropdow-menu-item">
                                        <a href="#">UNDER ARMOR</a>
                                    </div>
                                </div>
                                <div class="dropdow-menu-images">
                                    <a href="#" class="dropdow-menu-image">
                                        <img src="./images/dropdow-menu-img-05.avif"
                                             alt=""
                                             class="dropdow-menu-img" />
                                    </a>
                                    <a href="#" class="dropdow-menu-image">
                                        <img src="./images/dropdow-menu-img.avif"
                                             alt=""
                                             class="dropdow-menu-img" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" style="color:black;" asp-area="" asp-controller="News" asp-action="Index">Tin Tức</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" style="color:black;" class="menu-link">Liên hệ</a>
                    </li>
                </ul>
                <div class="dropdow">
                    <a href="#" class="header-auth-text account">
                        <i class="fa-regular fa-user " style="font-size:28px; color:black;"></i>
                    </a>
                    <ul class="dropdow-list" style="background:none;">
                        <li><a class="dropdown-item" asp-area="CustomerUser" asp-controller="Customers" asp-action="Details" asp-route-customerId="@Context.Session.GetInt32("CustomerId")">Thông tin cá nhân</a></li>
                        <li><a class="dropdown-item" asp-area="CustomerUser" asp-controller="Login" asp-action="Logout">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <main role="main" class="pb-3 mt-2">
                @RenderBody()
            </main>
        </div>
    </header>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LuxuryLife - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
