@model IEnumerable<LuxuryLife.Models.Admin>

@{
    ViewData["Title"] = "Danh sách Admin";
}

<h1>Danh sách Admin</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Tên quản lý
            </th>
            <th>
                Email
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                Hình ảnh
            </th>
            <th class="text-center">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avatar)
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.AdminId" class="btn btn-warning btn-sm">Sửa</a> 
                    <a asp-action="Details" asp-route-id="@item.AdminId" class="btn btn-info btn-sm">Chi tiết</a> 
                    <a asp-action="Delete" asp-route-id="@item.AdminId" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
