@model LuxuryLife.Models.News

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.AdminId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Homestay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Homestay.HomestayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provider.ProviderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour.TourId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NewsId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
