@model LuxuryLife.Models.Provider

@{
    ViewData["Title"] = "Delete";
}

<h1>Bạn có muốn xoá nhà cung cấp này</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd class="col-sm-8">
            <img src="@Model.Avatar" alt="@Model.Name" width="300px" height="300px" />
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProviderId" />
        <input type="submit" value="Xoá" class="btn btn-danger" />
        <a asp-action="Index">Đóng</a>
    </form>
</div>
