@model LuxuryLife.Models.Provider

@{
    ViewData["Title"] = "Chi tiết nhà cung cấp";
}

<h1>Chi tiết</h1>

<div>
    <h4>Nhà cung cấp</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            Mật khẩu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt class="col-sm-2">
            Hình đại diện
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt class="col-sm-2">
            Số điện thoại
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt class="col-sm-2">
            Địa chỉ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt class="col-sm-2">
            Đánh giá
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt class="col-sm-2">
            Ngày tạo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Createdate)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProviderId" class="btn btn-warning">Chỉnh sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</div>
