@model LuxuryLife.Models.Provider

@{
    ViewData["Title"] = "Chi tiết Nhà Cung Cấp";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1 class="text-center">Chi Tiết Nhà Cung Cấp</h1>

<div>
    <h4>Thông tin Nhà Cung Cấp</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên nhà cung cấp
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            Mật khẩu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt class="col-sm-2">
            Số điện thoại
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt class="col-sm-2">
            Địa chỉ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt class="col-sm-2">
            Doanh thu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Revenue)
        </dd>

        <dt class="col-sm-2">
            Đánh giá
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt class="col-sm-2">
            Ngày tạo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
</div>

<div class="text-center">
    <a asp-action="Edit" asp-route-id="@Model?.ProviderId" class="btn btn-primary">Chỉnh sửa</a> |
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</div>
