@model IEnumerable<LuxuryLife.Models.Provider>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách nhà cung cấp</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Tạo mới</a>
</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Tên
            </th>
            <th>
                Ảnh đại diện
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Đánh giá
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avatar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProviderId" class="btn btn-warning btn-sm">Chỉnh sửa</a> 
                    <a asp-action="Details" asp-route-id="@item.ProviderId" class="btn btn-info btn-sm">Chi tiết</a> 
                    <a asp-action="Delete" asp-route-id="@item.ProviderId" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
