@model IEnumerable<LuxuryLife.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Homestay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.ImageUrl" alt="@item.ImageDescription" style="width:35px;height:35px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Homestay.HomestayId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.TourId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ImageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ImageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
