@model LuxuryLife.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Khách hàng <b>@Html.DisplayFor(model => model.Name)</b> </h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-4">
            <img src="@Html.DisplayNameFor(model => model.Avatar)" alt="@Html.DisplayNameFor(model => model.Name)" width="300px" height="300px" />
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Avatar)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Dob)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Đóng</a>
</div>
