@model IEnumerable<LuxuryLife.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/ProviderUser/Views/Shared/_Providers.cshtml";
}

<h1>Danh sách các khách hàng </h1>
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Avatar)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            <img src="@item.Avatar" alt="@item.Name" width="100px" height="100px" />
                        </td>
                        <td>
                            <button class="btn btn-info btn-sm ajax-action" data-url="@Url.Action("Details", new { id = item.CustomerId })">Chi tiết</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="actionCustomer"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".ajax-action").click(function (e) {
            e.preventDefault();

            // Get the URL from the data attribute
            var url = $(this).data("url");

            // Load the content into the .click div
            $(".actionCustomer").load(url, function (response, status, xhr) {
                if (status == "error") {
                    alert("Error: " + xhr.status + " " + xhr.statusText);
                }
            });
        });
    });
</script>