@model LuxuryLife.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết đơn đặt</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Tour)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Tour.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Đóng</a>
</div>
