@model IEnumerable<LuxuryLife.Models.ProviderRevenue>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RevenueAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevenueMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevenueYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RevenueAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RevenueMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RevenueYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RevenueId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RevenueId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RevenueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
