@model IEnumerable<LuxuryLife.Models.News>

@{
    ViewData["Title"] = "Danh sách tin tức";
}

<h1>Danh sách tin tức</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tiêu đề
            </th>
            <th>
                Nội dung
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Ngày tạo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Createdate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NewId">Sửa</a> 
                    <a asp-action="Details" asp-route-id="@item.NewId">Chi tiết</a> 
                    <a asp-action="Delete" asp-route-id="@item.NewId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
